#cloud-config
hostname: tp-vm
users:
  - name: debian
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAwN94iO1KpQxs/0stkkm1/KtIRMp/B+b56R4/KNLv3c nolan@debian
    shell: /bin/bash
